extends layout
block content
    h1= title

    - let vehicleid = toShow._id
    - let vehicle_brand = toShow.vehicle_brand
    - let vehicle_type = toShow.vehicle_type
    - let vehicle_cost = toShow.vehicle_cost
    div
        div.row
            div(class='vehicleAttr mr-3') Vehicle Id is: #{vehicleid}
            br
        div.row
            div(class='vehicleAttr mr-3') Vehicle Brand is: #{vehicle_brand}
            br
        div.row
            div(class='vehicleAttr mr-3') Vehicle Type is: #{vehicle_type}
            br
        div.row
            div(class='vehicleAttr mr-3') Vehicle Cost is: #{vehicle_cost}